pkgbase = sysfail
	pkgdesc = Linux System Failure Simulator - Realistic kernel panic and emergency shell prank tool
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/Lon60/sysfail
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go
	source = sysfail-1.0.0.tar.gz::https://github.com/Lon60/sysfail/archive/v1.0.0.tar.gz
	sha256sums = SKIP

pkgname = sysfail